<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h1>Lista de proyectos que puede administrar #{usuarioBean.usuarioSeleccionado.username}</h1>
        <h:form>
            <h:dataTable value ="#{proyectoBean.listaProyectos}" var="proyectos" border="1">
                #{proyectoBean.doGetProyectosParticipa()}
                <h:column>
                    <f:facet name = "header">
                        Nombre
                    </f:facet>
                    #{proyectos.name}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Descripcion
                    </f:facet>
                    #{proyectos.description}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Fecha
                    </f:facet>
                    #{proyectos.startdate}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Lider
                    </f:facet>
                    #{proyectos.uslider.username}
                </h:column>
                <h:column>
                    <h:commandButton value ="Ver tareas" action="#{proyectoBean.obtenerProyectoParaTareas(proyectos)}"/>
                </h:column>
                <h:column>
                    <h:commandButton value ="Borrar" action="#{proyectoBean.doBorrar(proyectos)}"/>
                </h:column>   
                <h:column>
                    <h:commandButton value ="Inivtar" action="#{proyectoBean.doInvitar(proyectos)}"/>
                </h:column>
            </h:dataTable>
        </h:form>
        <h:form>
            <h:commandButton action="paginaPrincipal" value="Atras" />
        </h:form>
    </h:body>
</html>

