<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h1>Chat del proyecto #{usuarioBean.proyectoSeleccionado.name}</h1>
            <h:dataTable value="#{mensajeBean.listaMensaje}" var="item" id="listaMensajes">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Mensaje"/>
                    </f:facet>
                    <h:outputText value="#{item.mensaje}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Usuario"/>
                    </f:facet>
                    <h:outputText value="#{item.iduser.username}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Fecha"/>
                    </f:facet>
                    <h:outputText value="#{item.fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:column>                    
            </h:dataTable>
        <h:form>
            <h1><h:outputText value="Enviar nuevo mensaje"/></h1>
            <h:panelGrid columns="2">
                <h:outputLabel value="Mensaje:" for="mensaje" />
                <h:inputTextarea id="mensaje" value="#{mensajeBean.mensajeSeleccionado.mensaje}" title="Mensaje" required="true" requiredMessage="The Mensaje field is required." rows="3" cols="50"/>
                <h:commandButton value="Enviar" action="#{mensajeBean.crearMensaje}">
                    <f:ajax execute="mensaje" render="listaMensajes mensaje" />
                </h:commandButton>
            </h:panelGrid>
        </h:form>
        <h:form>
            <h:commandButton value="Atrás" action="#{mensajeBean.doAtras}"/>
        </h:form>
    </h:body>
</html>

