<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h1>Crear nuevo proyecto</h1>
        <h:form>
            <table>
                <tr>
                    <td>
                        NOMBRE:
                    </td>
                    <td>
                        <h:inputText id="nombre" label="nombre" required="true" value="#{proyectoBean.proyectoSeleccionado.name}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        DESCRIPCION:
                    </td>
                    <td>
                        <h:inputTextarea id="descripcion" label="descripcion" required="false" value="#{proyectoBean.proyectoSeleccionado.description}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        FECHA DE INICIO:
                        <br/>(D-M-YYYY)
                    </td>
                    <td>

                        <h:inputText id="date" value="#{proyectoBean.proyectoSeleccionado.startdate}" 
                                     size="20" required="true"
                                     label="Fecha de inicio" >

                            <f:convertDateTime pattern="d-M-yyyy" />
                        </h:inputText>
                    </td>
                </tr>
                <tr><td> <h:commandButton value ="Guardar" action="#{proyectoBean.doCrearProyecto()}"/></td><td></td></tr>

            </table>
        </h:form>
        <h:form>
            <h:commandButton action="paginaPrincipal" value="Atras" />
        </h:form>
    </h:body>
</html>

