<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h1><h:outputText value="Mis datos:"/></h1>
                <h:panelGrid columns="2">
                    <h:outputText value="Id:"/>
                    <h:outputText value="#{usuarioBean.usuarioSeleccionado.id}" title="Id"/>
                    <h:outputText value="Name:"/>
                    <h:outputText value="#{usuarioBean.usuarioSeleccionado.name}" title="Name"/>
                    <h:outputText value="Firstname:"/>
                    <h:outputText value="#{usuarioBean.usuarioSeleccionado.firstname}" title="Firstname"/>
                    <h:outputText value="Password:"/>
                    <h:outputText value="#{usuarioBean.usuarioSeleccionado.password}" title="Password"/>
                    <h:outputText value="Email:"/>
                    <h:outputText value="#{usuarioBean.usuarioSeleccionado.email}" title="Email"/>
                    <h:outputText value="Username:"/>
                    <h:outputText value="#{usuarioBean.usuarioSeleccionado.username}" title="Username"/>
                </h:panelGrid>
            </h:form>
            <h:form>
                <h:commandButton action="paginaPrincipal" value="Atras" />
            </h:form>
        </f:view>
    </h:body>
</html>

