<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear tarea</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1><h:outputText value="Crear Tarea" rendered="#{edicionTareaBean.usuarioBean.tareaSeleccionada.getId() == null}"/>
                <h:outputText value="Editar tarea" rendered="#{edicionTareaBean.usuarioBean.tareaSeleccionada.getId() != null}"/>
            </h1>
            <h:panelGrid columns="2">
                <h:outputText value="Nombre:" /> 
                <h:inputText value="#{edicionTareaBean.usuarioBean.tareaSeleccionada.name}"/>

                <h:outputText value="Fecha inicio:" />
                <h:inputText id="date1" value="#{edicionTareaBean.usuarioBean.tareaSeleccionada.startdate}" 
                             size="20" required="true"
                             label="Fecha inicio" >

                    <f:convertDateTime pattern="dd-MM-yyyy" />
                </h:inputText>

                <h:outputText value="Fecha fin:" />
                <h:inputText id="date2" value="#{edicionTareaBean.usuarioBean.tareaSeleccionada.findate}" 
                             size="20" required="true"
                             label="Fecha fin" >

                    <f:convertDateTime pattern="dd-MM-yyyy" />
                </h:inputText>

                <h:outputText value="Usuario a asignar:" /> 
                <h:inputText value="#{edicionTareaBean.usuarioBean.nombreUsuarioTarea}"/>

                <h:outputText value="Descripcion:" />
                <h:inputTextarea value="#{edicionTareaBean.usuarioBean.tareaSeleccionada.description}"/>
                <h:outputText value="Estado:" />
                <h:selectOneMenu id="elegirEstado" value="#{edicionTareaBean.usuarioBean.tareaSeleccionada.estado}">
                    <f:selectItem itemValue="No realizado" itemLabel="No realizado"/>
                    <f:selectItem itemValue="En progreso" itemLabel="En progreso"/>
                    <f:selectItem itemValue="Finalizado" itemLabel="Finalizado"/>
                </h:selectOneMenu>
            </h:panelGrid>

            <h:commandButton value="Editar tarea" action="#{edicionTareaBean.doGuardar()}" rendered="#{edicionTareaBean.usuarioBean.tareaSeleccionada.getId() != null}"/>            
            <h:commandButton value="Crear tarea" action="#{edicionTareaBean.doGuardar()}" rendered="#{edicionTareaBean.usuarioBean.tareaSeleccionada.getId() == null}"/>
        </h:form>
        <h:form>
            <h:commandButton value="Atras" action="listaTareas"/><br/>
        </h:form>
    </h:body>
</html>

