<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1>Edicion datos de usuario de #{usuarioBean.usuarioSeleccionado.username}</h1>
            <table>
                <tr><td>Nombre de usuario:</td><td><h:inputText value="#{usuarioBean.usuarioSeleccionado.username}"/></td></tr> 

                <tr><td> Nombre :</td><td> <h:inputText value="#{usuarioBean.usuarioSeleccionado.name}"/></td></tr>
                <tr><td> Apellidos :</td><td> <h:inputText value="#{usuarioBean.usuarioSeleccionado.firstname}"/></td></tr>
                <tr><td> Email :</td><td> <h:inputText value="#{usuarioBean.usuarioSeleccionado.email}"/></td></tr>
                <tr><td> <h:commandButton value ="Guardar" action="#{usuarioBean.doEditar(usuarioBean.usuarioSeleccionado)}"/></td><td></td></tr>

            </table>
        </h:form>
        <h:form>
            <h:commandButton action="paginaPrincipal" value="Atras" />
        </h:form>
    </h:body>
</html>

