/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-may-2016, 0:46:28
    Author     : Portatil
*/
body {
    background-color: lightblue;
}

h1 {
    color: #990000;
    margin-left: 20px;
}