<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Invitar Usuarios</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h1>Invitar usuarios al proyecto "#{usuarioBean.proyectoSeleccionado.name}"</h1>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="Nombre de Usario:"/>
                <h:inputText id="userName" value="#{invitacionBean.nombreUsuario}">
                    <f:ajax event="keyup" render="mensaje" listener="#{invitacionBean.doVerificarUsuario(event)}"/>
                </h:inputText>

                <h:outputText value="Mensaje (opcional):"/>
                <h:inputTextarea rows="5" cols="50" value="#{invitacionBean.invitacion.mensaje}"/>

                <h:outputText value="Fecha de invitacion (d-M-yyyy) :"/>
                <h:inputText value="#{invitacionBean.invitacion.fecha}" >
                    <f:convertDateTime pattern="d-M-yyyy" type="date"/>
                </h:inputText>
                <h:outputText id="mensaje" value="#{invitacionBean.mensajeVerificacion}" style="color: red"/>

            </h:panelGrid>
            <h:commandButton action="#{invitacionBean.doInvitar()}" value="Invitar"/>
        </h:form>
        <h:form>
            <h:commandButton action="#{invitacionBean.doFin()}" value="Terminar"  />
        </h:form>
    </h:body>
</html>

