<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value ="#{usuarioBean.listaUsuarios}" var="us">
            <h:column>
            <f:facet name = "header">
                ID
            </f:facet>
            #{us.id}
            </h:column>
            <h:column>
            <f:facet name = "header">
                Nombre de usuario
            </f:facet>
            #{us.username}
            </h:column>
                <h:column>
                <h:commandButton value ="Editar" action="#{usuarioBean.doEditar(us)}"/>
            </h:column>
            <h:column>
                <h:commandButton value ="Borrar" action="#{usuarioBean.doBorrar(us)}"/>
            </h:column>
               
        </h:dataTable>
        </h:form>
    </h:body>
</html>

