<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Invitaciones</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h1><h:outputText value="Lista de invitaciones"/></h1>
                <h:dataTable value="#{usuarioBean.usuarioSeleccionado.invitacionCollection}" var="item" border="1" >
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Fecha"/>
                        </f:facet>
                        <h:outputText value="#{item.fecha}">
                            <f:convertDateTime pattern="d-M-yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Mensaje"/>
                        </f:facet>
                        <h:outputText value="#{item.mensaje}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Nombre del proyecto"/>
                        </f:facet>
                        <h:outputText value="#{item.idproyecto.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Lider de proyecto"/>
                        </f:facet>
                        <h:outputText value="#{item.idproyecto.uslider.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Aceptar"/>
                        </f:facet>
                        <h:commandButton value="Aceptar" action="#{invitacionBean.doAceptar(item)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Rechazar"/>
                        </f:facet>
                        <h:commandButton value="Rechazar" action="#{invitacionBean.doRechazar(item)}"/>
                    </h:column>
                </h:dataTable>
                <h:commandButton value="Atras" action="paginaPrincipal"/>
            </h:form>
        </f:view>
    </h:body>
</html>

