<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Listado de tareas</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1>Lista de tareas para el proyecto #{listarTareaBean.proyecto.name}</h1>
            <h:dataTable value="#{listarTareaBean.listaTareas}" var="tarea" border="1">
                <h:column>
                    <f:facet name = "header">
                        Nombre
                    </f:facet>
                    #{tarea.name}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Fecha Inicio
                    </f:facet>
                    #{tarea.startdate}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Fecha Fin
                    </f:facet>
                    #{tarea.findate}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Descripcion
                    </f:facet>
                    #{tarea.description}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Usuario asignado
                    </f:facet>
                    #{tarea.id2.username}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Estado
                    </f:facet>
                    #{tarea.estado}
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Editar
                    </f:facet>
                    <h:commandButton value="Editar" action="#{listarTareaBean.editarTarea(tarea)}"/>
                </h:column>
                <h:column>
                    <f:facet name = "header">
                        Borrar
                    </f:facet>
                    <h:commandButton value="Borrar" action="#{listarTareaBean.doBorrar(tarea)}"/>
                </h:column>
            </h:dataTable>
            <h:commandButton value="Añadir tarea" action="#{listarTareaBean.nuevaTarea()}"/>
            <h:commandButton value="Atras" action="#{listarTareaBean.doVolverAdministrarProyectos()}"/>
        </h:form>
    </h:body>
</html>

