<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1 align="center">Login</h1>
            <h:panelGrid columns="2" style="margin: 0 auto" >
                <h:outputText value="Nombre de usuario:" />
                <h:inputText value="#{usuarioBean.inputUsuario}"/>
                
                <h:outputText value="Contraseña :" />
                <h:inputSecret value="#{usuarioBean.inputContraseña}"/>

                <h:commandButton value="Recuperar contraseña" action="recuperarPassword" />
                <h:commandButton value ="Entrar" action="#{usuarioBean.doLogin()}"/>
                
                <h:commandButton value ="Registrarse" action="registrarUsuario"/>
                <font color="red">#{usuarioBean.errorUsuario}</font>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

