<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Mostrar Password</title>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1>Contraseña</h1>
            La contraseña para el usuario #{usuarioBean.usuarioSeleccionado.name} es: #{recuperarPasswordBean.password}<br/>
            <h:commandButton value="Volver al login" action="login"/>
        </h:form>
    </h:body>
</html>

