<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1><center>Hola, #{usuarioBean.usuarioSeleccionado.username}</center></h1>
            <br/>
            <table border="4" bgcolor="black" >

                <tr><td><font color="white">Menu</font></td></tr>
                <tr><td><h:commandButton value ="     Crear proyecto     " action="crearProyecto"/></td></tr>
                <tr><td><h:commandButton value ="      Mis proyectos     " action="misProyectos"/></td></tr>
                <tr><td><h:commandButton value ="Administrar proyectos" action="administrarProyectos"/></td></tr>
                <tr><td><h:commandButton value ="          MI cuenta         " action="datosUsuario"/></td></tr>
                <tr><td><h:commandButton value ="        Invitaciones        " action="listadoInvitaciones"/></td></tr>
                <tr><td><h:commandButton value ="       Editar cuenta      " action="editarUsuario"/></td></tr>
                <tr><td><h:commandButton value ="               Salir              " action="#{usuarioBean.doSalir}"/></td></tr>
            </table>
        </h:form>
    </h:body>
</html>

