<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1 align="center">Recuperar contraseña</h1>
            <h:panelGrid columns="2" style="margin: 0 auto" >

                <h:outputText value="Introduzca usuario:" /> 
                <h:inputText value="#{recuperarPasswordBean.usuario}"/>

                <h:outputText value="Introduzca email:" /> 
                <h:inputText value="#{recuperarPasswordBean.email}"/>

                <h:commandButton value="Recuperar" action="#{recuperarPasswordBean.devolverPassword()}"/>
                <font color="red">#{recuperarPasswordBean.error}</font>
                
                <h:commandButton value="Volver al login" action="login"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

