<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Página principal</title>
        <link rel="icon" href="http://files.secretaria-ieslacala.webnode.es/200000122-f1610f25a8/UMA.jpg"/>
        <link rel="stylesheet" type="text/css" href="estilocss.css"/>
    </h:head>
    <h:body>
        <h1>Registro de usuario</h1>
        <h:form>
            #{usuarioBean.doLimpiarSeleccionado()}
            <table>
                <tr><td>Nombre de usuario:</td><td><h:inputText value="#{usuarioBean.usuarioSeleccionado.username}"/></td></tr> 
                <tr><td> Contraseña :</td><td> <h:inputText id="input1" value="#{usuarioBean.inputContraseña}">
                            <f:ajax event="keyup" execute="input1 input2" render="output panel" listener="#{usuarioBean.validarPass(event)}" ></f:ajax></h:inputText></td></tr>
                <tr><td> Repetir Contraseña :</td><td> <h:inputText id="input2" value="#{usuarioBean.verificarContraseña}">
                            <f:ajax event="keyup" execute="input1 input2" render="output panel" listener="#{usuarioBean.validarPass(event)}" ></f:ajax></h:inputText></td><td></td></tr>
                <tr><td> Nombre :</td><td> <h:inputText value="#{usuarioBean.usuarioSeleccionado.name}"/></td></tr>
                <tr><td> Apellidos :</td><td> <h:inputText value="#{usuarioBean.usuarioSeleccionado.firstname}"/></td></tr>
                <tr><td> Email :</td><td> <h:inputText value="#{usuarioBean.usuarioSeleccionado.email}"/></td></tr>
                <tr><td> 
                        <h:panelGroup id="panel">
                            <h:commandButton value ="Guardar" action="#{usuarioBean.doGuardar()}" rendered="#{usuarioBean.coinciden eq true}" />
                            <h:graphicImage name="ok.png" rendered="#{usuarioBean.coinciden eq true}"/>
                        </h:panelGroup></td><td><h:outputText  id ="output" value="#{usuarioBean.mensajeVerificacion}"/>
                    </td></tr>

            </table>
        </h:form>
        <h:form>
            <h:commandButton action="login" value="Atras" />
        </h:form>
    </h:body>
</html>

